.all-files{
    padding: 1rem;
    max-height: 100%;
    overflow: auto;
}
.all-files__selector{
    height: 100%;
    overflow: auto;
    padding: 1rem;
}
.all-files__title{
    margin: 0.5rem 0;
}
.info-bar{
    background-color: var(--cream);
    padding: 0.2em 0;
    display: flex;
    padding: 0.2em 0 0.2em 2em;
    border-radius: 100px;
}


.info-detail{
    font-size: 0.7em;
    font-weight: 600;
    flex: 1;
    text-align: center;
    
}
