.all-files{
    padding: 1rem;
}
.all-files__title{
    margin: 0.5rem 0;
}
.info-bar{
    background-color: var(--cream);
    padding: 0.2em 0;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 100px;
}

.info-detail{
    font-size: 0.7em;
    font-weight: 600;
}
