.all-files{
    padding: 1rem;
    max-height: 100%;
    overflow: hidden;
}
.all-files__selector{
    height: 100%;
    overflow: auto;
    padding: 1rem;
}
.all-files__title{
    margin: 0.5rem 0;
}
.info-bar{
    background-color: var(--cream);
    display: flex;
    justify-content:flex-end;
    padding: 0.2em 0 0.2em 3em;
    border-radius: 100px;
    text-align: right;
    display: none;
}

.info-detail{
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
    flex: 1;
}
