:root {
    --black: #2828282;
    --dark-grey: #4B4B4B;
    --blue: #406bdb;
    --white: #ffffff ;
    --light-grey: #f3e8e8;
    --cream: #f0f7ee;
    --purple: rgba(100, 100, 111, 0.2);
    --grey: #CFBFBF;
    --light-grey: #C4C4C4;
}
