.files{
    display: flex;
    justify-content: space-around;
    padding:0.1em 0;
    overflow: hidden;
}

.files__row {
    font-size: 0.6em;
    text-align: center;
}
.files__row-date {
    font-size: 0.6em;
}
