.folder-name{
    display: flex;
}
.folder-name__title{
    margin-left: 1rem;
}

.folder-name__button{
    all: unset;
    display: flex;
    align-items: center;
    padding: 4px 0 0 4px;
    back
}
