
.folders-sidebar {
    display: flex;
    flex-direction: column;
}

.folders-sidebar__box {
    display: flex;
}

.folders-sidebar__files {
    margin-left: 1em;
}

.max15vh {
    max-height: 15vh;
}

.scroll {
    overflow: scroll;
}

.overflow-hidden {
    overflow: hidden;
}
