.recent-folders {
    padding: 1rem;
}

.recent-folders__title {
    margin: 0.5rem 0;
    font-weight: 600;
}

.recent-folders__selector {
    display: flex;
    /* flex-wrap: wrap; */
}

.folders{
    min-height: 100px;
    min-width: 100px;
    margin: 0 10px;
}

.height50vh {
    height: 50vh;
}

.overflowXscroll {
    overflow-x: auto;
}
